@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vaehg9');
  src:  url('fonts/icomoon.eot?vaehg9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vaehg9') format('truetype'),
    url('fonts/icomoon.woff?vaehg9') format('woff'),
    url('fonts/icomoon.svg?vaehg9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qrcode:before {
  content: "\e938";
}
.icon-phone:before {
  content: "\e942";
  font-size: 30px;
  float: left;
  color: #1C2750;
}
.icon-phone2:before {
  content: "\e942";
  font-size: 20px;
  margin-left: 20px;
  float: left;
}
.icon-whatsapp:before {
  content: "\ea93";
  font-size: 30px;
  margin-left: 20px;
  float: left;
  color: #3fae3d;
}

.icon-location:before {
  content: "\e947";
  font-size: 20px;
  margin-left: 15px;
  float: left;
}
.icon-calendar:before {
  content: "\e953";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-pause2:before {
  content: "\ea1d";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-mail:before {
  content: "\ea83";
  font-size: 30px;
  margin: 5px auto;
  margin-left: 20px;
  float: left;
}
.icon-mail:hover{
  color: #B57E1F;
}
.icon-mail2:before {
  content: "\ea83";
  font-size: 25px;
  margin-left: 20px;
  float: left;
}
.icon-facebook:before {
  content: "\ea90";
  font-size: 30px;
 margin-left: 40px;
  float: left;
  
}
.icon-facebook{
  color: #000000;
}
.icon-facebook:hover{
  color: #000080;
}
.icon-twitter:before {
  content: "\ea96";
  font-size: 30px;
  margin-left: 40px;
  float: left;
}
.icon-twitter{
  color: #000000;
}
.icon-twitter:hover{
  color: #33CCFF;
}
.icon-youtube2:before {
  content: "\ea9e";
  font-size: 30px;
  margin-left: 55%;
  float: left;
}
.icon-youtube2{
  color: #000000;
}
.icon-youtube2:hover{
  color: #A01212 !important;
}
